<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="reloadPage()"><strong>{{user.nome}}</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="reloadPage()">Relatório</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<div class="container">
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" id="data" [(ngModel)] = "controlHours.data">
        </div>
        <div class="col">
            <label for="timein" class="form-label">Hora Inicio</label>
            <input type="time" class="form-control" id="timein" [(ngModel)] = "controlHours.horaInicial">
        </div>
        <div class="col">
            <label for="timeend" class="form-label">Hora Fim</label>
            <input type="time" class="form-control" id="timeend" [(ngModel)] = "controlHours.horaFinal">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-success" (click)="saveCheckPoint()">Salvar</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger" (click)="clear()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <table class="table table-sm table-striped bg-light">
        <thead>
          <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Data</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fim</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listHours of listHours">
             <!--<th>{{listHours.id}}</th>-->
                <td>{{listHours.data.substring(0,10)}}</td>
                <td>{{listHours.horaInicial.substring(11,19)}}</td>
                <td>{{listHours.horaFinal.substring(11,19)}}</td>
                <td>{{listHours.total}}</td>
                <td>
                  <button type="button" class="btn btn-outline-ligth btn-sm" (click)="deleteCheckPoint(listHours.id)">
                    <img src="../../../assets/trash.png" alt="lixeira" width="22" height="22">
                  </button>
                </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><strong>TOTAL: </strong></td>
              <td><strong>{{controlHours.soma}}</strong></td>
              <td></td>
            </tr>
        </tbody>
    </table>
</div>